
.container {

    display: grid;
    height: 100vh; /* Viewport height */
    grid-template-columns: repeat(4, 1fr); /* fraktion ratio */
    grid-template-rows: 2fr 1fr;
    gap: 10px;
    row-gap: 20px;
}


.item {

    background-color: blueviolet;
    color: white;
    font-weight: bold;
   
   
}